* {box-sizing: border-box;}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.content {
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px 10px;
}

h3:first-child {margin-top: 0;}
h3, h4 {text-align: center;}

article {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

article>div {
    width: 25%;
}

input {
    width: 100%;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
}

.preSearch {
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.preSearch>div {
    white-space: nowrap;
    overflow: hidden;
}

.preSearch>div:hover {
    background-color: rgb(180, 180, 255);
    cursor: pointer;
}

.reFind {background-color: yellow;}

table, td {
    border: 1px solid indigo;
    border-collapse: collapse;
}

table {margin-top: 20px;}